8. DevelopAngularJS program to create a login form, with validation for the 

username and password fields. 

<html ng-app="loginApp">

<script src="index.js"></script>

<body ng-controller="loginController">

 <h1>Login Form</h1>

 <form ng-submit="login()">

 Username 

 <input type="text" ng-model="username" required>

 <br>

 Password 

 <input type="password" ng-model="password" required>

 <br>

 <button type="submit">Login</button>

 </form>

 <script>

 var app = angular.module('loginApp', []);

 app.controller('loginController', function ($scope) {

 $scope.login = function () {

 if ($scope.username == 'ram' && $scope.password == 'ram') {

 alert('Login successful');

 } else {

 alert('Login failed. Invalid username or password.');

 }

 };

 }); 

 </script>

</body>

</html>
